html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  max-width: 38rem;
}

.grain{
  display:flex;
  justify-content:center;
  align-items:center;
  height: 300%;
  width: 300%;
  background-position:center;
  overflow: hidden;
}

.grain:after{
  content:"";
  background-image:url("./noise.png");
  height: 300%;
  width: 300%;
  position: absolute;
  top: 0px; 
  left: 0px;
  opacity:0.1;
  animation: animateGrain 8s steps(10) infinite;
}

@keyframes animateGrain{
  0%, 100% { transform:translate(0, 0) }
  10%{
    transform:translate(-5%,-10%)
  }
  20%{
    transform:translate(-15%,-20%)
  }
  30%{
    transform:translate(-5%,-10%)
  }
  40%{
    transform:translate(-15%,-20%)
  }
  50%{
    transform:translate(-5%,-10%)
  }
  60%{
    transform:translate(-15%,-20%)
  }
  70%{
    transform:translate(-5%,-10%)
  }
  80%{
    transform:translate(-15%,-20%)
  }
  90%{
    transform:translate(-5%,-10%)
  }
  100%{
    transform:translate(-15%,-20%)
  }
 
}

#c {
  position: absolute;
}
