body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-filter: blur(1px);
  filter: url(./blur.svg#gaussian_blur);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Akira;
  font-style: normal;
  src: url('/fonts/Akira_Expanded_Demo.otf');
}

@font-face {
  font-family: Peace;
  font-style: normal;
  src: url('/fonts/Peace_Sans_Webfont.ttf');
}

@font-face {
  font-family: Rounded;
  font-style: normal;
  src: url('/fonts/Rounded_Elegance.ttf');
}

@font-face {
  font-family: Ramillas;
  font-style: light;
  src: url('/fonts/TT_Ramillas_Trial_Light.ttf');
}

@font-face {
  font-family: Inconsolata;
  font-style: normal;
  src: url('/fonts/Inconsolata_VariableFont_wdth.ttf');
}
